.main-page {
    background-color: #F5F5F5;
}

.main-page h2 {
    margin: 20px;
}

.main-page .recipe-list {
    display: flex;
    gap: 20px;
}

.error {
    display: flex;
    font-weight: 400;
    color: #9B93A9;
    justify-content: center;
    text-align: center;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}