.menu {
    background-color: #ffffff;
    padding: 20px;
}

.main-page {
  padding: 20px;
}

.menu h2 {
  margin-top: 20px;
  margin-bottom: 70px;
  text-align: center;
}

.menu ul {
  list-style: none;
}

.menu li {
    color: #9B93A9;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.menu li:hover {
  background-color: #F8B600;
  color: white;
}

.logout-button {
  margin: 10px;
  margin-top: 20px;
  color: #9B93A9;
  font-weight: 500;
}

.logout-button:hover {
  cursor: pointer;
  color: #F8B600;
}