.my-recipes-page {
    background-color: #F5F5F5;
}

.my-recipes-page-content {
    margin: 20px;
    margin-top: 40px;
    max-width: 100%;
}

.my-recipes-page h2 {
    margin: 0;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-new-recipe {
    cursor: pointer;
    color: #9B93A9;
    background-color: transparent;
    border: 0;
    font-size: 14px;
}

.add-new-recipe:hover {
    color: #F8B600;
}

.page-content {
    display: flex;
    gap: 20px;
}

.user-recipes-list {
    flex: 1;
}

.recipes-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe-card-container {
    /* Если у RecipeCard есть свой контейнер или обертка */
    flex: 0 0 auto;
}

.my-recipes-page-add-recipe-card {
    position: sticky;
    top: 20px;
    height: fit-content;
    min-width: 300px; /* Или другая подходящая ширина */
}

.my-recipes-page-add-recipe-card:empty {
    display: none;
}

.no-recipes-message {
    justify-content: center;
    color: #9B93A9;
}

.loading-state, .error-state {
    text-align: center;
    padding: 40px;
    color: #9B93A9;
}
