.my-recipes-page {
    background-color: #F5F5F5;
}

.my-recipes-page-content {
    margin: 20px;
    margin-top: 40px;
}

.my-recipes-page h2 {
    margin: 0;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-new-recipe {
    cursor: pointer;
    color: #9B93A9;
    background-color: transparent;
    border: 0;
    font-size: 14px;
}

.add-new-recipe:hover {
    color: #F8B600;
}

.page-content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.my-recipes-page-add-recipe-card {
    top: 20px;
    height: fit-content;
}

.my-recipes-page-add-recipe-card:empty {
    display: none;
}

.no-recipes-message {
    justify-content: center;
    color: #9B93A9;
}