.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  width: 100%;
}

.menu {
  grid-column: 1;
  background-color: #f0f0f0;
  height: 100%;
}

.main-page {
  grid-column: 2;
  height: 100%;
}