:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root::selection {
  background-color: #F8B600;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
